.root {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 'gallery' 'footer';
    overflow: hidden;
}

.flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gallery {
    grid-area: gallery;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}

.footer {
    grid-area: footer;
    padding: 1em;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.controlSlideShow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.isFullScreen {
    display: block;
}

.closeFullScreenButton {
    position: absolute;
    top: 10px;
    right: 10px;
}