.root {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 'gallery'
    'footer';
}

.gallery {
    grid-area: gallery;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer {
    grid-area: footer;
    padding: 1em;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.controlSlideShow {
    display: flex;
}

.isFullScreen {
    display: block;
}

.closeFullScreenButton {
    position: absolute;
    top: 10px;
    right: 10px;
}